@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Open+Sans:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gold: #d4af37;
  --darkgold: #b89527;
  --cream: #fffbe9;
  --dark_moss_green: #606c38;
  --dark_moss_green-100: #13160b;
  --dark_moss_green-200: #262b16;
  --dark_moss_green-300: #394121;
  --dark_moss_green-400: #4c562c;
  --dark_moss_green-500: #606c38;
  --dark_moss_green-600: #88994f;
  --dark_moss_green-700: #a9b876;
  --dark_moss_green-800: #c5d0a3;
  --dark_moss_green-900: #e2e7d1;
  --pakistan_green: #283618;
  --pakistan_green-100: #080b05;
  --pakistan_green-200: #101509;
  --pakistan_green-300: #18200e;
  --pakistan_green-400: #1f2a13;
  --pakistan_green-500: #283618;
  --pakistan_green-600: #547133;
  --pakistan_green-700: #80ac4d;
  --pakistan_green-800: #aac987;
  --pakistan_green-900: #d5e4c3;
  --cornsilk: #fefae0;
  --cornsilk-100: #5d5103;
  --cornsilk-200: #baa206;
  --cornsilk-300: #f8dc27;
  --cornsilk-400: #fbeb84;
  --cornsilk-500: #fefae0;
  --cornsilk-600: #fefbe7;
  --cornsilk-700: #fefced;
  --cornsilk-800: #fffdf3;
  --cornsilk-900: #fffef9;
  --earth_yellow: #dda15e;
  --earth_yellow-100: #34210b;
  --earth_yellow-200: #684216;
  --earth_yellow-300: #9d6321;
  --earth_yellow-400: #d1842c;
  --earth_yellow-500: #dda15e;
  --earth_yellow-600: #e4b57f;
  --earth_yellow-700: #ebc79f;
  --earth_yellow-800: #f1dabf;
  --earth_yellow-900: #f8ecdf;
  --tigers_eye: #bc6c25;
  --tigers_eye-100: #251507;
  --tigers_eye-200: #4b2b0f;
  --tigers_eye-300: #704016;
  --tigers_eye-400: #96561e;
  --tigers_eye-500: #bc6c25;
  --tigers_eye-600: #d98840;
  --tigers_eye-700: #e3a570;
  --tigers_eye-800: #ecc3a0;
  --tigers_eye-900: #f6e1cf;
  --primary: hsl(220 30% 18%);
}

html,
body {
  height: 100%;
}
body {
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(212, 175, 55, 0.16);
  border-radius: 6px;
}
