
.bg-accent {
  background-color: var(--accent);
}
.bg-accent-10 {
  background-color: var(--accent-light-10);
}
.text-accent {
  color: var(--accent);
}
.text-muted {
  color: var(--muted);
}
.focus-border-accent:focus {
  border-color: var(--accent) !important;
}
.border-accent {
  border-color: var(--accent);
}

